<ul class="responsive-table">
    <li class="table-header">
        <div class="col col-1">S/N</div>
        <div class="col col-2">Name of Project</div>
        <div class="col col-3">Contractor</div>
        <div class="col col-4">Start Date</div>
        <div class="col col-5">End Date</div>
        <div class="col col-6">Year of Intervention</div>
        <div class="col col-7">Location</div>
        <div class="col col-8">LGA</div>
        <div class="col col-9">Project Status</div>
        <div class="col col-10"></div>
    </li>
    <li class="table-row" *ngFor="let project of projects; let i = index">
        <div
            class="col col-1"
            data-label="s/n"
        >
            {{i}}
        </div>
        <div
            class="col col-2"
            data-label="nameOfProject"
        >
            {{project.projectName}}
        </div>
        <div
            class="col col-3"
            data-label="contractor"
        >
            {{project.contractor}}
        </div>
        <div
            class="col col-4"
            data-label="startDate"
        >
            {{project.startDate}}
        </div>
        <div
            class="col col-5"
            data-label="endDate"
        >
            {{project.endDate}}
        </div>
        <div
            class="col col-6"
            data-label="yearOfIntervention"
        >
            {{project.yearOfIntervention}}
        </div>
        <div
            class="col col-7"
            data-label="location"
        >
            {{project.location}}
        </div>
        <div
            class="col col-8"
            data-label="lga"
        >
            {{project.lga}}
        </div>
        <div
            class="col col-9"
            data-label="status"
        >
            {{project.status}}
        </div>
        <div
        class="col col-10"
         >
        <a class="btn" routerLink = '/dashboard/edit-project/{{project.id}}' style="margin-right: 10px;">Edit</a>
        <a class="btn" (click)="deleteProject(project.id)" >Delete</a>
    </div>
    </li>
</ul>
