@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/button';

.projects{
    margin: 60px auto;
    background-color: $white;
    box-shadow: 3px 0 7px 0px #ccc;
    border-radius: 7px;
    padding: 20px;
    width: 95%;

        &__heading{
        font-weight: 700;
        font-size: 2rem;
        color: $mainColor;
    }
    &__content{
        overflow-x: scroll;
        margin-top: 20px;
        &--header{
            display: flex;
            justify-content: space-between;

            button{
              border: 1px solid $mainColor;
              outline: none;
              padding: 11px 20px;
              font-size: 1.6rem;
              background-color: transparent;
              cursor: pointer;
              margin-right: 4px;
            }
        }
    }
    &__link{
      text-decoration: none;
      color: #0f0f0f;
      font-size: 1.6rem;
      border: 1px solid $mainColor;
      padding: 10px 15px;
      border-radius: 3px;
      transition: all 4s;

      &:hover{
        background-image: linear-gradient(to right, #0c2480, #0c2480);
        color: $white;
      }
  }
}

form{
  margin-top: 30px;
}
.form__group{
  margin-bottom: 25px;
}
.form__radio--label{
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 6rem;
  font-family: inherit;
}
.form__radio--input{
  display: none;
}
.form__radio--button{
  height: 4.2rem;
  width: 4.2rem;
  border: 5px solid $mainColor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  &::after{
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $mainColor;
    opacity: 0;
    transition: opacity .2s;
  }
}
.form__radio--input:checked ~ .form__radio--label .form__radio--button::after{
  opacity: 1;
}
.modal {
  display: none;
}
