<div class="container">
  <div class="login">
    <img src="../../assets/images/Header.png" alt="login header is here">
    <form action="#" class="login__form">
      <div class=login__form--group>
        <input type="text" placeholder="Enter username" require/>
      </div>
      <div class="login__form--group">
        <input type="password" placeholder="Enter password" require/>
      </div>
      <button class=login__button>Sign in</button>
    </form>
  </div>
  <footer>
    <!-- <img src="../../assets/images/footer.png" alt="footer image is here.."> -->
  </footer>
</div>

