<section class="sidebar">
  <div class="sidebar__header">
    <img src="../../../assets/images/ubec.png" alt="ubec logo">
  </div>

  <nav class="sidebar__nav">
    <ul>
      <li>
        <fa-icon [icon]="addProjectIcon"></fa-icon>
        <a href="#">Add Project</a>
      </li>
      <li>
        <fa-icon [icon]="completedIcon"></fa-icon>
        <a href="#">Completed</a>
      </li>
      <li>
        <fa-icon [icon]="uncompletedIcon"></fa-icon>
        <a href="#">Uncompleted</a>
      </li>
    </ul>
  </nav>
</section>
