<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="content" appScrollable (scrollPosition) = "scrollHandler($event)">
        <div data-header>
            <div class="header__search">
                <app-search></app-search>
            </div>
            <div class="header__icon">
                <div class="header__icon-content">
                    <fa-icon
                        [icon]='logoutIcon'
                        class="logout__icon"
                    >
                    </fa-icon>
                    <div class="login__dropdown">
                        <p class="login__dropdown-content" (click)="logOut()" >Logout</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
          <router-outlet></router-outlet>
        </section>
    </div>
</div>

